.pokemon-title {
  font-family: $font-pokemon;
  font-size: 2.5em;
  color: red;
  padding-right: 5px;
}

.tracker-title {
  font-family: 'Play', sans-serif;
  font-size: 2.8em;
  color: #01579E;
}

.nav-link {
  text-decoration: none;
}

h1 {
  text-align: center;
}

.routes {
  color: white;
  display: flex;
  flex-direction: row-reverse;
  height: 20px;
  padding: 5px;
  padding-right: 185px;
}

.nav-btn {
  height: 25px;
  padding: 2px;
  margin-left: 10px;
  background-color: #2FA7D6;
  color: #FFFFFF;
  font-size: 1.1em;
  border-radius: 3px;

}

.nav-btn:hover {
  background-color: #00569E;
  font-weight: 700;
}

.active button {
  background-color: red;

}
