.search-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 25px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  border: 2px solid #83D0F1;
  background-color: #F2F2F2;
  min-height: 100px;
}

.inputs-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;

}

.input {
  text-align: center;
  font-size: 1.2em;
  height: 25px;
  display: inline;
  margin-left: 10px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}

.search-name {
  width: 40%
}

.search-num {
  width: 20%;
}

.search-btn {
  height: 40px;
  width: 12%;
  border-radius: 5px;
  background-color: #2FA7D6;
  color: #FFFFFF;
  margin: 20px 50px 0px 50px;
  font-size: 1.1em;
}

.search-btn:disabled {
  background: #F2F2F2;
  color: #FF5B4C;
}

.search-btn:hover {
  font-weight: 700;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}
.search-btn:hover:disabled {
  font-weight: 300;
  box-shadow: none;
}
