@font-face {
  font-family: "Pokemon Hollow";
  src: url(./Pokemon-Hollow.ttf);
}

@font-face {
  font-family: "Pokemon Solid";
  src: url(./Pokemon-Solid.ttf);
}

@font-face {
  font-family: 'Play';
  src: url('https://fonts.googleapis.com/css?family=Play:400,700&display=swap');
}

$font-pokemon: "Pokemon Hollow";
$font-play: "Play";
