@font-face {
  font-family: "Pokemon Hollow";
  src: url(./Pokemon-Hollow.ttf);
}

@font-face {
  font-family: "Pokemon Solid";
  src: url(./Pokemon-Solid.ttf);
}

$font-pokemon: "Pokemon Hollow";
$font-play: "Play";
